.features {
  display: flex;
  flex-direction: column;
}

.features__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.features__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background-color: var(--background-grayish);
}

.features__title {
  margin-bottom: 10px;
  text-align: center;

  color: var(--main-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    width: 354px;
    margin-bottom: 30px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  .features__element {
    height: 120px;
  }

  .features__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .features__element {
    width: 270px;
  }

  .features__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .features__title {
    text-align: start;
  }
}
